* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: sans-serif;
  font-size: 30px;
  padding-top: 100px;
  height: 100vh;
  background-color: #393838;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 500px;
  border-radius: 10px;
}

#container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 16%;
  background: #eee;
  border: 1px solid #d5cecc;
  border-bottom: 0;
  border-right: 0;
  cursor: pointer;
}

#container div:active {
  background: #222;
  color: #eee;
}

#container .input {
  display: flex;
  justify-content: end;
  text-align: right;
  font-size: 50px;
  padding: 0 15px;
  overflow: hidden;
  width: 100%;
  height: 20%;
  background: #eee;
  pointer-events: none;
  cursor: initial;
  border-radius: 10px 10px 0 0;
  border: 3px solid rgb(127, 212, 249);
}

#container .clear {
  width: 75%;
}

#container .zero {
  width: 50%;
  border-radius: 0 0 0 10px;
}

#container .divide,
#container .multiply,
#container .substract,
#container .add,
#container .operate {
  background-color: orange;
  border-top: 1px solid #cc9d49;
  border-left: 1px solid #cc9d49;
  border-bottom: 0;
}

#container .operate {
  border-radius: 0 0 10px 0;
}

#container .clear,
#container .divide {
  border-top: 0;
}

#container .clear,
#container .seven,
#container .four,
#container .one,
#container .zero {
  border-left: 0;
}

.comment {
  font-size: 14px;
  color: #999;
  margin-top: 20px;
  text-align: center;
  line-height: 1.6;
}

.symbol-keyboard,
.symbol-mouse {
  display: inline-block;
  filter: brightness(0.7);
}
